@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif, Arial; 
    font-size: 14px;  
}
/* body{
    background-color: white;
    min-height: 100vh;  
    position: relative;  
    padding-bottom: 3rem;    
} */
#trial{
    min-height: 100vh;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh );
    object-fit: cover;
    z-index: -1;
    opacity: 30%;
}
.header{
    background-image: linear-gradient(gray,#f5f3f3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 5px 10%;
    border: 0px;        
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
    align-items:first baseline;
    height: 3rem;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    clear: left;    
}
.header .nav-links li:hover{
    transform: scale(1.1);    
}
.header .nav-links a{
    font-weight: bold;
    font-size: 700;
    color: #374050;
    text-decoration: none
    
}
.header .nav-links li a:hover{
    color: #2a8e9d;
}
.header .btn button{
    margin-left: 10px;
    font-weight: 700;
    color: #374050;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: #e2f1f8;
    color: #2a8e9d;
    transform: scale(1.1);
}
#Inicio{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 

}
.intro{
    width: 70%;
    text-align: left;    
    padding: 1rem;  
    color: #eceff1; 
}
.intro h2{
    background-color: #374050;
    border-radius: 50px; 
}
.intro p{
    color: #0a141d;
}
h2{
    font-size: 20px;
    padding: 5px;   
}
article{
    padding:15px;
    color: #0a141d;
}
p{
    padding: 10px;
}
.container{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bloque{
    width: 30%;
    height: 120px;
    background-color: white;
    color: #0a141d;
    text-align: center;    
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
 } 
 #Nosotros{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 
}
.bloque img{
 width: 300px;
 height: 300px; 
 border-radius: 50%;
 border:1px solid black  
}
.integrante{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cargo{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.linkedin{ 
    border: 1px solid black;   
    width: 30px;
    height: 30px;
    padding: 5px; 
    border-radius: 5px;
    background-color: #0a63bc;
    position: relative;
}
.linkedin-letra{
    font-family: system-ui;
    color: white;
}

#Servicios{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 
}
.container-2{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr );   
    row-gap: 200px;
}
.bloque-2{
    width: 30%;
    height: 120px;
    background-color: white;
    color: #0a141d;
    text-align: center;    
    margin: 1rem;
    padding: 1rem;
    display: grid;
 } 
 .bloque-2 img{
    margin: 20px;
    width: 350px;
    height: 200px; 
    border-radius: 20px;
    border:1px solid black;
   }

#Experiencia{
    width: 100%;
    height: calc(190vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 
}
.container-3{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2,1fr );   
    row-gap: 230px;
}
.bloque-3{
    width: 30%;
    height: 120px;
    background-color: white;
    color: #0a141d;
    text-align: center;    
    margin: 1rem;
    padding: 1rem;
    display: grid;
 } 
 .bloque-3 img{
    margin: 10px;
    width: 500px;
    height: 300px; 
    border-radius: 20px;
    border:1px solid black;
   }
iframe{
    margin: 10px;
    width: 500px;
    height: 300px; 
    border-radius: 20px;
    border:1px solid black;
   }











/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    position: absolute;
    bottom:0;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 0.5rem;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 6rem;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 20px;   
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    
}
.pie-pagina .grupo-1 .icon-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;    
}
.pie-pagina .grupo-1 .icon-social a:hover{
    color: #2a8e9d;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;    
    text-align: center;
    color: #fff;     
    
}
.pie-pagina .grupo-2 small{
    font-size: 0.8rem;
    align-self: self-end;
}


@media screen and (max-width:800px){
    /* .pie-pagina .grupo-1 .grupo-2{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid: gap 2rem;px;
        padding: 3rem 0px;         
    } */










    
   
}