@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif, Arial; 
    font-size: 14px;  
}
/* body{
    background-color: white;
    min-height: 100vh;  
    position: relative;  
    padding-bottom: 3rem;    
} */
#trial{
    min-height: 100vh;
    position: relative;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 30%;
}

.header{
    background-image: linear-gradient(gray,#f5f3f3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 5px 10%;
    border: 0px;        
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo img{
    align-items:first baseline;
    height: 3rem;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    clear: left;    
}
.header .nav-links li:hover{
    transform: scale(1.1);    
}
.header .nav-links a{
    font-weight: bold;
    font-size: 700;
    color: #374050;
    text-decoration: none
    
}
.header .nav-links li a:hover{
    color: #2a8e9d;
}
.header .btn button{
    margin-left: 10px;
    font-weight: 700;
    color: #374050;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: #e2f1f8;
    color: #2a8e9d;
    transform: scale(1.1);
}
#Inicio{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 
}
.intro{
    width: 70%;
    text-align: left; 
    color: #eceff1;
}
.intro h2{
    background-color: #374050;
    border-radius: 50px;
}
.intro p{
    color: #0a141d;
}
h2{
    font-size: 20px;
    padding: 5px;   
}
article{
    padding:15px;
    color: #0a141d;
}
p{
    padding: 10px;
}
.container{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bloque{
    width: 30%;
    height: 140px;
    background-color: white;
    color: #0a141d;
    text-align: center;    
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
 } 
 #Nosotros{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 
}
.bloque-1{
    width: 30%;
    color: #0a141d;
    text-align: center;  
    margin: 1rem;
    padding: 1rem;
 } 
.bloque-1 img{
 width: 300px;
 height: 300px; 
 border-radius: 50%;
 border:1px solid black  
}
.integrante{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;    
    background-color: white;  
    margin-top: 20px;
    height: 300px;
    border-radius: 30px;
}
.cargo{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.linkedin{ 
    border: 1px solid black;   
    width: 30px;
    height: 30px;
    padding: 5px; 
    border-radius: 5px;
    background-color: #0a63bc;
    position: relative;
}
.linkedin-letra{
    font-family: system-ui;
    color: white;
}

#Servicios{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 
}
.container-2{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr );   
    row-gap: 200px;
}
.bloque-2{
    width: 30%;
    height: 120px;
    color: #0a141d;
    text-align: center;    
    margin: 1rem;
    padding: 1rem;
    display: grid;
 } 
 .bloque-2 img{
    margin: 20px;
    width: 350px;
    height: 200px; 
    border-radius: 20px;
    border:1px solid black;
   }
.texto-bloque{
    background-color: white;  
    padding: 5px;
    height: 90px;
    border-radius: 30px;
}
#Experiencia{
    width: 100%;
    height: calc(190vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;     
    opacity: 80%; 
    color: #eceff1; 
}
.container-3{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2,1fr );   
    row-gap: 230px;
}
.bloque-3{
    width: 30%;
    height: 120px;
    color: #0a141d;
    text-align: center;    
    margin: 1rem;
    padding: 1rem;
    display: grid;
 } 
 .bloque-3 img{
    margin: 10px;
    width: 500px;
    height: 300px; 
    border-radius: 20px;
    border:1px solid black;
   }
iframe{
    margin: 10px;
    width: 500px;
    height: 300px; 
    border-radius: 20px;
    border:1px solid black;
   }

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    position: absolute;
    bottom:0;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 0.5rem;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 6rem;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 20px;   
}
.pie-pagina .grupo-1 .box h3{
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 12px;   
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    
}
.pie-pagina .grupo-1 .icon-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;    
}
.pie-pagina .grupo-1 .icon-social a:hover{
    color: #2a8e9d;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;    
    text-align: center;
    color: #fff;     
    
}
.pie-pagina .grupo-2 small{
    font-size: 0.8rem;
    align-self: self-end;
}

@media screen and (max-width:550px){
    .header{
        background-image: linear-gradient(gray,#f5f3f3);
        display: flex;
        width: 100%;        
        height: 80px;
        padding: 15px;  
        position: relative;
    }
    .header .logo{
        cursor: pointer;     
    }
    .header .logo img{
        left: 10px;   
        top: 22px;
        width: auto;
        height: 30px;
        transition: all 0.3s;
        position: absolute;        
    }
    .header .logo img:hover{
        transform: scale(1.2);
    }
    .header .nav-links{
        position: absolute;
        left: 80px;
        bottom: 30px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2,1fr );  
        width:100px; 
    }
    .header .nav-links li{
        padding: 0px 10px; 
    }
    .header .nav-links li:hover{
        transform: scale(1.1);    
    }
    .header .nav-links a{
        color: #374050;
        font-size: 12px;
        text-decoration: none;
    }
    .header .nav-links li a:hover{
        color: #2a8e9d;
    }
    .header .btn button{
        position: absolute;
        padding: 5px;
        right: 20px;
        bottom: 30px;
        color: #374050;
        background: #eceff1;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .header .btn button:hover{
        background-color: #e2f1f8;
        color: #2a8e9d;
        transform: scale(1.1);
    }
    #Inicio{
        width: 100%;
        height: calc(100vh - 160px);
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1;       
    }
    .intro{
        width: 85%;
        text-align: left;
        padding: 5px;
        color: #eceff1;
        align-items: center;
    }
    .intro h2{
        background-color: #374050;
        border-radius: 50px; 
    }
    .intro p{
        color: #0a141d;
    }
    h2{
        font-size: 14px;
        padding: 5px;   
    }
    article{
        padding:15px;
        color: #0a141d;
        font-size: 12px;
        text-align: center;
        display: none;
    }
    .intro:hover >article{
        display: block;
        background-color: white;
        border-radius: 50px;
    }
    p{
        padding: 5px;
        font-size: 12px;
    }
    .container{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bloque{
        width: 100%;
        height: 90px;
        background-color: white;
        color: #0a141d;
        text-align: center;    
        margin: 5px;
        padding:5px;
        border-radius: 20px;
     } 
     #Nosotros{
        width: 100%;
        height: calc(100vh - 130px);
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1; 
    }
    .bloque-1{
        width: 60%;
        color: #0a141d;
        text-align: center; 
        padding: 0px;
        margin: 10px;
     } 
    .bloque-1 img{
     width: 100px;
     height: 100px; 
     border-radius: 50%;
     border:1px solid black; 
    }
    .integrante{
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;    
        background-color: white; 
        height: 35%;
        border-radius: 20px;
        margin:0px;
    }
    .cargo{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .linkedin{ 
        border: 1px solid black;   
        width: 20px;
        height: 20px;
        padding: 0px; 
        border-radius: 5px;
        background-color: #0a63bc;
        position: relative;
    }
    .texto-nosotros{
        display: none;
    }
    #Servicios{
        width: 100%;
        height: 1680px;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1; 
    }
    .container-2{
        width: 75%;
        display: flex;
        flex-direction: column;
    }
    .bloque-2{
        width: 100%;
        height: 70px;
        color: #0a141d;
        text-align: center;    
        margin: 0px;
        padding: 0px;
     } 
     .bloque-2 img{
        margin: 10px;
        width: 250px;
        height: 150px; 
        border-radius: 20px;
        border:1px solid black;
       }
    .texto-bloque{ 
        background-color: white;  
        padding: 5px;
        height: 75px;
        border-radius: 30px;
    }
    #Experiencia{
        width: 100%;
        height: 1900px;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1; 
    }
    .container-3{
        width: 75%;
        display: flex;
        flex-direction: column;
    }
    .bloque-3{
        width: 100%;
        height: 0px;
        color: #0a141d;
        text-align: center;    
        margin: 0px;
        padding: 0px;
     } 
     .bloque-3 img{
        margin:px;
        width: 250px;
        height: 150px; 
        border-radius: 20px;
        border:1px solid black;
       }
    iframe{
        margin: 10px;
        width: 250px;
        height: 150px; 
        border-radius: 20px;
        border:1px solid black;
       }    
    .pie-pagina{
        width: 100%;
        background-color: #0a141d;
        position:relative;
        height: 80px;
    }
    .pie-pagina .grupo-1{
        width: 100%;
        height: 50px;
        display:flex;
    }
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 50px;
    }
    .pie-pagina .grupo-1 .box {
        width: 35%;
    }
    .pie-pagina .grupo-1 .box h2 {
        width: 180px;
        font-size: 10px;
        padding: 0px;
        margin:0px
    }
    .pie-pagina .grupo-1 .box h3{
        color: #fff;
        font-size: 10px;  
    }
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        font-size: 12px;
        
    }
    .pie-pagina .grupo-1 .icon-social {
        position: absolute;
        bottom: 90px;
        right: 0px;
        width: 55px;
       

    .pie-pagina .grupo-1 .icon-social a{
        display: inline-block;
        text-decoration: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        margin-right: 5px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease; 
     
    }
    .pie-pagina .grupo-1 .icon-social a:hover{
        color: #2a8e9d;
    }
    .pie-pagina .grupo-2{
        background-color: #0a1a2a;    
        text-align: center;
        color: #fff;
        
    }
    .pie-pagina .grupo-2 small{
        font-size: 10px;
        align-self: self-end;
    }






    
   
}
}

@media screen and (min-width:550px) and (max-width:1300px){
    #Inicio{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1;     
    }
    .intro{
        width: 85%;
        text-align: left;
        padding: 5px;
        color: #eceff1;
        align-items: center;
    }
    .intro h2{
        background-color: #374050;
        border-radius: 50px; 
    }
    .intro p{
        color: #0a141d;
    }
    h2{
        font-size: 18px;
        padding: 5px;   
    }
    article{
        margin-top: 15px;
        padding:10px;
        color: #0a141d;
        font-size: 14px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
    }
    p{
        padding: 5px;
        font-size: 14px;
    }
    .container{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bloque{
        width: 100%;
        height: 90px;
        background-color: white;
        color: #0a141d;
        text-align: center;    
        margin: 5px;
        padding:5px;
        border-radius: 20px;
     } 
     #Nosotros{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1; 
    }
    .bloque-1{
        width: 100%;
        height: 18rem;
        color: #0a141d;
        text-align: center; 
        padding: 0px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        justify-content: top;
     } 
    .bloque-1 img{
     width: 180px;
     height: 180px; 
     border-radius: 50%;
     border:1px solid black; 
    }
    .integrante{
        display: flex;
        flex-direction: column;
        align-items: center;    
        background-color: white; 
        width: 100%;
        height: 65px;
        border-radius: 20px;
        margin:0px;
    }
    .cargo{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .linkedin{ 
        border: 1px solid black;   
        width: 20px;
        height: 20px;
        padding: 0px; 
        border-radius: 5px;
        background-color: #0a63bc;
        position: relative;
    }
    .texto-nosotros{ 
        display: none;
    }
    .integrante:hover >.texto-nosotros{
        width: 100%;
        height: 250px;
        background-color: white;
        margin: 15px;
        border-radius: 20px;
        display: block;
    }
    #Servicios{
        width: 100%;
        height: 1000px;
        display:flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1; 
    }
    .container-2{
        width: 75%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr );   
        row-gap: 10px;
        column-gap: 20px;
    }
    .bloque-2{
        width: 100%;
        height: 70px;
        color: #0a141d;
        text-align: center;    
        margin: 0px;
        padding: 0px;
     } 
     .bloque-2 img{
        margin: 10px;
        width: 250px;
        height: 150px; 
        border-radius: 20px;
        border:1px solid black;
       }
    .texto-bloque{ 
        background-color: white;  
        padding: 5px;
        height: 75px;
        border-radius: 30px;
    }
    #Experiencia{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;     
        opacity: 80%; 
        color: #eceff1; 
    }
    .container-3{
        width: 75%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr );   
        row-gap: 10px;
        column-gap: 20px;
    }
    .bloque-3{
        width: 100%;
        height: 0px;
        color: #0a141d;
        text-align: center;    
        margin: 0px;
        padding: 0px;
     } 
     .bloque-3 img{
        margin:px;
        width: 250px;
        height: 150px; 
        border-radius: 20px;
        border:1px solid black;
       }
    iframe{
        margin: 10px;
        width: 250px;
        height: 150px; 
        border-radius: 20px;
        border:1px solid black;
       }   
       
    .pie-pagina{
        width: 100%;
        background-color: #0a141d;
        position:relative;
        height: 80px;
    }
    .pie-pagina .grupo-1{
        width: 100%;
        height: 50px;
        display:flex;
    }
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 50px;
    }
    .pie-pagina .grupo-1 .box {
        width: 35%;
    }
    .pie-pagina .grupo-1 .box h2 {
        width: 180px;
        font-size: 10px;
        padding: 0px;
        margin:0px
    }
    .pie-pagina .grupo-1 .box h3{
        color: #fff;
        font-size: 10px;  
    }
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        font-size: 12px;
        
    }
    .pie-pagina .grupo-1 .icon-social {
        position: absolute;
        bottom: 90px;
        right: 0px;
        width: 55px;
    }
    .pie-pagina .grupo-1 .icon-social a{
        display: inline-block;
        text-decoration: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        margin-right: 5px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;      
    }
    .pie-pagina .grupo-1 .icon-social a:hover{
        color: #2a8e9d;
    }
    .pie-pagina .grupo-2{
        background-color: #0a1a2a;    
        text-align: center;
        color: #fff;       
    }
    .pie-pagina .grupo-2 small{
        font-size: 10px;
        align-self: self-end;
    }    
   
}
       
